<%- include('partials/header') -%>

<div class="common-page">
  <nav id="navigation-bar">
    <div class="myLogo">
      <h1><u> SCO </u></h1>
    </div>
  </nav>
  <div class="myImage">
    <img src="../images/me.jpg" alt="My image" class="myImg" />
  </div>

  <div class="text">
    <p id="myName">Shahed Chowdhury Omi</p>
    <br />
    <p id="myInfo">
      I am a Web developer. Welcome<span class="welcomeMsg"> 💖 </span>to my
      page.
    </p>
  </div>
</div>

<%- include('partials/footer') -%>
