<%- include('partials/header') -%>

<div class="common-page">
  <nav>
    <!-- Hamburger-menu -->
    <div class="hamburger">
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
    </div>
    <!-- Unordered-list -->
    <ul class="nav-links">
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Projects</a></li>
    </ul>
    <!-- landing-section -->
    <section class="landing"></section>
  </nav>

  <div class="myImage">
    <img src="../images/me.jpg" alt="My image" class="myImg" />
  </div>

  <div class="text">
    <p id="myName">Shahed Chowdhury Omi</p>
    <br />
    <p id="myInfo">
      I am a Web developer. Welcome <span class="welcomeMsg"> 💖 </span> to my
      page.
    </p>
  </div>
</div>

<%- include('partials/footer') -%>
