* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #fff;
}

/* Dark area of the page */
.common-page {
  max-width: 96%;
  min-height: 94vh;
  background-color: #222831;
  margin: 3vh auto;
  border-radius: 5px;
  color: #e3f6f5;
}

/* Navigation menu */
nav {
  height: 10vh;
  position: relative;
  /* background-color: red; */
}

.line {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: 0.3s ease;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 2;
}

.change .line1 {
  transform: translateY(4px) rotateZ(45deg);
}
.change .line2 {
  transform: translateY(-6px) rotateZ(-45deg);
}
.change .line3 {
  opacity: 0;
}

.nav-links {
  /* display: flex;
  list-style: none;
  width: 50%;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
  margin-left: auto; */

  display: flex;
  list-style: none;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  background-color: #11698e;
  height: 94vh;
  width: 96%;
  flex-direction: column;
  /* display: none; */
  clip-path: circle(100px at 100% -10%);
  -webkit-clip-path: circle(100px at 100% -20%);
  transition: all 1s ease-out;
  pointer-events: none;
}

.nav-links.open {
  clip-path: circle(1000px at 100% -10%);
  -webkit-clip-path: circle(1000px at 100% -10%);
  pointer-events: all;
}

.nav-links li {
  opacity: 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}

.nav-links li:nth-child(1) {
  transition: all 0.5s ease 0.2s;
}

.nav-links li:nth-child(2) {
  transition: all 0.5s ease 0.4s;
}

.nav-links li:nth-child(3) {
  transition: all 0.5s ease 0.6s;
}

li.fade {
  opacity: 1;
}
/* Image style */

.myImage {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myImg {
  width: 80%;
  border-radius: 100%;
  vertical-align: middle;
  animation: 4s infinite alternate bounce;
}

@keyframes bounce {
  from {
    width: 80%;
  }
  to {
    width: 50%;
  }
}

/* Text */
.text {
  text-align: center;
}

#myName {
  font-weight: 900;
}

#myInfo {
  width: 70%;
  margin: 0 auto;
  font-weight: 500;
}
